<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439081031722-u4469saroefbgqjig9igvjsblmnt7ike.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439081031722-u4469saroefbgqjig9igvjsblmnt7ike</string>
	<key>API_KEY</key>
	<string>AIzaSyDhmCxIxWrZiBS7gjZxswTW7TrAIP-RnEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>439081031722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barroncje.Contactos</string>
	<key>PROJECT_ID</key>
	<string>contactos-a9d46</string>
	<key>STORAGE_BUCKET</key>
	<string>contactos-a9d46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439081031722:ios:fc8230514ac6d6df018b53</string>
	<key>DATABASE_URL</key>
	<string>https://contactos-a9d46.firebaseio.com</string>
</dict>
</plist>